@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

/* :root {
  --accent-clr: #d23568;
  --font-clr: #474b54;
  --bg-clr: white;
} */

.light-theme {
  --accent-clr: #d23568;
  --font-clr: #474b54;
  --bg-clr: white;
}

.dark-theme {
  --accent-clr: #d23568;
  --font-clr: white;
  --bg-clr: #474b54;
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--bg-clr);
}

p {
  color: var(--font-clr);
}

/* APP */
/* ==== */

.app {
  padding: 0 1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  margin-bottom: 5em;
}

.title {
  color: var(--font-clr);
}

.btn-toggle {
  font-family: inherit;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: var(--accent-clr);
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.toggler {
  border: 1px solid black;
  width: 30px;
  border-radius: 20px;
  transition: all linear 0.3s;
}

.toggler.active {
  background-color: green;
}

.toggler-circle {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  transition: all linear 0.3s;
}

.toggler-circle.active {
  transform: translate(100%, 0);
}

/* ARTICLE-TITLE */
/* =========== */

.article {
  margin-bottom: 3em;
}

.article-title {
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--accent-clr);
}

.date-time-container {
  display: flex;
  gap: 1em;
  align-items: center;
  /* background-color: magenta; */
}

.date,
.read-length {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.snippet {
  margin-top: 0.5em;
}
